@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.font-mw {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
}
.font-lato {
    font-family: "Lato", sans-serif;
}

.bg-banner {
    background-image: url('https://media.istockphoto.com/id/1452604857/photo/businessman-touching-the-brain-working-of-artificial-intelligence-automation-predictive.webp?s=2048x2048&w=is&k=20&c=-dkoxqirWcLDhkIjVgkLfRXdNHqCJdPKswM7tkjTcN0=');
    background-repeat:no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    
}